.header{
    padding: 20px 0;
    background-color: #ffffff;
}
.header-content{
    display: flex;
    justify-self: center;
    
    
}
.logo-content
{
    display: flex;
    align-items: center;
    border: 0px solid green;
}
img{
    width: 2em;
    
}


.emp-text
{
    font:normal normal bold 14px/13px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a78c;
    text-transform: capitalize;

}
.emp-payroll
{
    color: #42515f;
}

body{
    background-color: #F7F7F7;
}

html,body { 
    height:80%; 
    font:normal normal normal 18px/13px Roboto;
    letter-spacing: 0px;
    
}
.profileimage-text{
    font:normal normal normal 16px/13px Roboto;
    letter-spacing: 0px;
}
.profileimage{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.flexBox{
  
    box-sizing: border-box;
    font-size: 90%;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    
    /* 
    border: 1px solid green; 
 
    */
}
.flexBox1{
  
    font-size: 83%;
    display: flex;
    justify-content: flex-start;
    padding: 3%;
    
}
.lable{
    font-size: 40%;   
}
.right-label{
    padding-top: 1px;
    padding-right: 5px;
    font-size: 90%;
    color: rgb(56, 56, 56);
}
select#salary{
    width: 30%;
}
 select{
    color: rgb(56, 56, 56);
   margin-right: 2%;
    width: 15%;
    height: 25px;
} 
#fullname, textarea{
    width: 62%;
    line-height: 1.8em; 
    margin-left: 18%
}
#notes, textarea{
    width: 62%;
    line-height: 1.8em; 
    margin-left: 0%
}
.box{
   
   margin-left: 27%;
   margin-right: 27%;
   margin-top: 1%;
  
   background: #ffffff 0% 0%  ; 
   box-shadow: 0px 2px 3px rgb(59, 59, 59);
   border-radius: 1px;
   opacity: 1;
   
}
.box1{
   
    margin-left: 7%;
    margin-right: 3%;
    margin-top: 3%;
    top: 0px;

 }
 
.left-label {
    width: 25%; 
    text-align: left;
    float: inline-start;
    color: rgb(56, 56, 56);
    font-size: 90%;
    margin-block: auto;
}
.radio{
    margin-block: auto; 
}
.form{
    margin-left: 7%;
    margin-top: 25%;
    margin-right: 7%;
    margin-bottom: 5%;
     padding-bottom: 5%;    
}
.btn{
    width: 20%;
    height: 30px;
    box-shadow: 0px;
    border-style: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: gray;
}  
#cancel{
margin-right: auto;
}
input[type="submit"]{
    margin-right: 5%;
} 

#Emptxt{
    margin-top: 3%;
 color: gray;
    font-size: 95%;
    font-weight: bold;
    font:normal normal bold 16px/13px Roboto;
}

  #close{
      display: none;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#submit-form:hover, #submit-form:focus{
    background-color: rgb(0, 180, 0);
}
.btn:hover, #reset:hover, #reset:hover{
    background-color: gray;
}
